/* Desktop Design */
@media scree and (min-width: 1280px) {
 
    /* General Styles */
    body{
        padding: 50px;
        display: grid;
        grid-template-areas:
        " header"
        " main-image"
        " main "
        " side"
        " footer"
        ;
        gap: 20px;
    }

        
    /* End Of General Styles */
    
    /* Header Styles */
        header{
            display: flex;
            grid-area: header;
            justify-content: space-between;
            align-items: center;
            grid-area: header;
        }
        header ul{
            display: flex;
        }
        header li{
            list-style-type: none;
            margin-left: 20px
        }
    /* End Of Header Styles */

    /* Main Image */
        .main-image{
            display: flex;
            justify-content: center;
            grid-area: main-image;
        }
        .main-image img{
            width:100%;
            height: 400px;
        }
    /* End Of Main Image */

    /* Main Content */
        .main-content{

            display:flex;
            flex-direction: column;
            grid-area: main;
            align-items: center;
            margin-bottom: 80px;

        }
        
        .main-content .button{
            font-size: 1.25rem;
            color: white;
            padding: 15px 50px;
            border-radius: 5px;
            background-color: rgb(94, 91, 91);
        }
        

    /* End Of Main Content */

    /* Side Content */

    main{
        
        justify-self: center;
        display: flex;
        flex-direction: column;

    }
    
    main .images{
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
    }
    main .side-content{
        display: flex;
        gap: 50px;
        text-align: center;
    }
    .bottom-content{
            text-align: center;
    }

    /* End Of Side Content */

    /* Footer Content */
        footer{

            grid-area: footer;
            text-align: center;
            width: 100%;
            border: 2px solid gray;
        }

    /* End Of Footer Content */
        



        
   
    
}



/* Tablet Design */

@media screen and (min-width: 768px) and (max-width: 960px){

    /* General Styles */
        body{
            padding: 50px;
            display: grid;
            grid-template-areas:
            " header header "
            " main-image main-image "
            " side main"
            " side main"
            " sub-one sub-one "
            " footer footer"
            ;
            gap: 30px;
        }
    /* End Of General Styles */
    
    /* Header Styles */
        header{
            display: flex;
            grid-area: header;
            justify-content: space-between;
            align-items: center;
        }
        header ul{
            display: flex;
        }
        header li{
            list-style-type: none;
            margin-left: 20px
        }
    /* End Of Header Styles */
        
    /* Main Image */
        .main-image{
            display: flex;
            grid-area: main-image;
            justify-content: center;
            justify-self: stretch;
            
        }
        .main-image img{
            width: 500%;
            align-self: stretch;
        }
    /* End Of Main Image */

    /* Main Content */
        main{
            grid-area: main;
            font-size: 1.2rem;
        }  
        .image{
            width: 30%;
        }
        main .side-content {
           display: flex;
           
        }
        .sub-sections {
            display:flex;
            flex-direction: column;
        }
        main .images{
        gap: 0px;
        display: flex;
        justify-content: space-between;
        }
        

        .main-content{
            display: flex;
            flex-direction: column;
            text-align: left;
            grid-area: side;
        }
        .main-content img{
            width: 100%;
        }

    /* End Of Main Content */

    /* Footer Content */
        footer{
            grid-area: footer;
            text-align: center;
            border: 2px solid gray;
        }
    /* End Of Footer Content */

}


/* Moblie Design */
@media screen and (max-width: 768px) {

    body{
        display: grid;
        margin: 20px;
        grid-template-areas: 
        "header"
        "main"
        "main-text"
        "side-content"
        "footer"
        
        ;

    }

    /* Header Styles */
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-area: header;
        }
        header ul{
            display: flex;
        }
        header li{
            list-style-type: none;
            margin-left: 20px
        }
    /* End Of Header Styles */

    /* Main Image */
        .main-image{
            display: flex;
            justify-content: center;
            margin-bottom:  50px;
            margin-top: 50px;
            grid-area: main;
        }
        .main-image img{
            width: 90%;
        }
    /* End Of Main Image */

    /* Start Of Main Content */
        .main-content{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: main-text;
        }

        .main-content img{
            width: 70%;
            display: none;
        }

        .button{
            font-size: 1.25rem;
            color: white;
            padding: 15px 50px;
            border-radius: 5px;
            background-color: rgb(94, 91, 91);
        }
        
        .images{
            display: none;
        }

    /* End Of Main Content */

    /* Side Content */

        .sub-sections, main.bottom-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: side-content
        }

        .sub-sections, .bottom-content{
            text-align: center;
        }

    /* End Of Side Content */

    /* Start Of Footer */
      footer{
        grid-area: footer;
        text-align: center;
        border: 2px solid gray;
    }
    /* End Of Footer */
    

}